<nav id="sidebar">
    <ul class="list-unstyled components">
        <ul class="list-group sidebar">
            <li class="list-group-item searchItem">
                <div class="input-group mb-3">
                    <input type="text" id="searchInput" placeholder="Search for..." class="form-control" aria-label="" aria-describedby="basic-addon">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">Search</button>
                    </div>
                </div>
            </li>
        </ul>
    </ul>
</nav>
<div id="main"><h3 class="text-center loadingHolder">Loading...</h3></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js" integrity="sha256-eOgo0OtLL4cdq7RdwRUiGKLX9XsIJ7nGhWEKbohmVAQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha256-WqU1JavFxSAMcLP2WIOI+GB2zWmShMI82mTpLDcqFUg=" crossorigin="anonymous"></script>
<script src="/javascripts/main{{env}}.js"></script>