#main{
    padding: 0px;
    overflow-y: scroll;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 80px;
}

#navbar a{
    color: #2196F3 !important;
}

.brand-logo{
    padding-left: 15px !important;
}

.docLink, .loadingWrapper{
    min-height: 100vh !important;
}

.sidebar-container {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    margin-top: 20px;
    overflow-y: scroll;
}

.sidebar{
    position: relative;
}

.sidebarToggle{
    padding-left: 10px;
    padding-top: 30px;
}

@media only screen and (max-width : 768px) {
    .sidebar-container {
        position: fixed !important;
        left: -25% !important;;
        width: 25% !important;
    }

    .sidebar-container-show{
        left: -0% !important;
        width: 100% !important;
        background-color: #fff;
        z-index: 999 !important;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition:all .5s;
    }

    #main{
        position: fixed !important;
        width: 100% !important;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0;
        padding-bottom: 100px;
        left: 0%;
    }
}