#main{
    padding: 0px;
    overflow-y: scroll;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 80px;
}

#navbar a{
    color: #2196F3 !important;
}

nav{
    box-shadow: none;
    border-bottom: 1px solid #e0e0e0;
}

.brand-logo{
    padding-left: 15px !important;
}

.docLink, .loadingWrapper{
    min-height: 100vh !important;
}

.sidebar-container {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    margin-top: 20px;
    overflow-y: scroll;
}

.sidebar{
    position: relative;
}

@media only screen and (max-width : 768px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    #navbar {
        float: left !important;
    }

    .sidebar-container {
        position: fixed !important;
        left: -100% !important;
        width: 100% !important;
    }

    .sidebar-container-show{
        left: -0% !important;
        width: 100% !important;
        background-color: #fff;
        z-index: 999 !important;
    }

    .sidebar-container-show, .sidebar-container{
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition:all .5s;
    }

    #main{
        width: 100% !important;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0;
        padding-bottom: 40px !important;
        left: 0%;
        height: auto;
        overflow-y: scroll !important;
    }
}