html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

a{
    color: #18bc9c;
}

a:hover, a:focus{
    color: #15a589 !important;
}

.btn-primary{
    background-color: #15a589 !important;
    border-color: #18bc9c !important;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-inverse {
    background-color: #18bc9c;
    border: none;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 22px;
}

.navbar-nav>.active>a, .navbar-nav>.active>a:focus{
    color: pink;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #15a589;
}

pre{
    background-color: #ecf0f1;
}

#main {
    padding: 15px;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    min-height: 100vh;
    background-color: #ecf0f1;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition:all .5s;
}

#sidebar.active {
    margin-left: -300px;
}

.loadingHolder{
    margin-top: 200px;
}

.sidebarLink, .list-group-item{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #ecf0f1;
    border-right: none;
}

.searchItem{
    border: none;
}

.list-group-item:first-child {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

@media only screen and (max-width : 768px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}