html,
body {
  height: 100%;
  margin: 0;
}

body {
    padding-top: 30px;
    padding-bottom: 30px;
}

a{
    color: #18bc9c;
}

a:hover, a:focus{
    color: #15a589 !important;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-inverse {
    background-color: #18bc9c;
    border: none;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-nav>.active>a, .navbar-nav>.active>a:focus{
    color: pink;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #15a589;
}

pre{
    background-color: #ecf0f1;
}

#main{
    height: 100%;
    width: 75%;
    position: fixed;
    padding: 0px;
    left: 25%;
    overflow-y: scroll;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 80px;
}

.sidebar-container {
    position: fixed;
    background-color: #ecf0f1;
    height: 100%;
    width: 25%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    margin-top: 20px;
    overflow-y: scroll;
    border-right: 1px solid #ddd;
}

.sidebar{
    position: relative;
}

.sidebarToggle{
    padding-left: 10px;
}

.loadingHolder{
    margin-top: 200px;
}

.sidebarLink, .list-group-item{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #ecf0f1;
    border-right: none;
}

.searchItem{
    border: none;
}

.list-group-item:first-child {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

@media only screen and (max-width : 768px) {
    .sidebar-container {
        left: -25%;
    }

    .sidebar-container-show{
        left: -0%;
        width: 100%;
        background-color: #fff;
        z-index: 999;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition:all .5s;
    }

    #main{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        left: 0%;
    }
}